<p id="notice"><%= notice %></p>

<h1>Races</h1>

<table>
  <thead>
    <tr>
      <th>Race</th>
      <th>  </th>
      <th>Current Lead</th>
      <th>  </th>
      <th>Race Candidate</th>
      <th>  </th>
      <th>Votes</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody> 
  <% @races.each do |race| %>
  <tr>
       <td><%= race.title %></td>
    <td><%= link_to 'View', race %></td>
    <td><%= link_to 'Edit', edit_race_path(race) %></td>
  </tr>
  <%end%> 
  </tr>
</tbody>
</table>

<br>
<label><%= link_to 'Create a Race', new_race_path %></label>
