<p id="notice"><%= notice %></p>

<p>
  <% @info.each do |i| %>
  <%= i.raceTitle %>
   <%= i.candidate %>
    <%= i.votes %>
    <%end%>
</p>

<p>
  <strong>Districtid:</strong>
  <%= @election.districtId %>
</p>

<p>
  <strong>Electiondate:</strong>
  <%= @election.electionDate %>
</p>

<p>
  <strong>Title:</strong>
  <%= @election.title %>
</p>

<p>
  <strong>Completed:</strong>
  <%= @election.completed %>
</p>

<label>
<%= link_to 'Edit', edit_election_path(@election) %> /
<%= link_to 'Back', elections_path %>
</label>