<%= form_with(model: submission, local: true) do |form| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(submission.errors.count, "error") %> prohibited this submission from being saved:</h2>

      <ul>
      <% submission.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :voterId %>
    <%= form.number_field :voterId %>
  </div>

  <div class="field">
    <%= form.label :electionId %>
    <%= form.number_field :electionId %>
  </div>

  <div class="field">
    <%= form.label :entered %>
    <%= form.datetime_select :entered %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
